.ProseMirror {
    > * + * {
      margin-top: 0.75em;
    }
  
    ul,
    ol {
      padding: 0 1rem;
    }
  }
  
  .bubble-menu {
    display: flex;
    background-color: #0D0D0D;
    padding: 0.2rem;
    border-radius: 0.5rem;
  
    button {
      border: none;
      background: none;
      color: #FFF;
      font-size: 0.85rem;
      font-weight: 500;
      padding: 0 0.2rem;
      opacity: 0.6;
  
      &:hover,
      &.is-active {
        opacity: 1;
      }
    }
  }
  
  .floating-menu {
    display: flex;
    background-color: #0D0D0D10;
    padding: 0.2rem;
    border-radius: 0.5rem;
  
    button {
      border: none;
      background: none;
      font-size: 0.85rem;
      font-weight: 500;
      padding: 0 0.2rem;
      opacity: 0.6;
  
      &:hover,
      &.is-active {
        opacity: 1;
      }
    }
  }

  .ProseMirror-focused {
    outline: none;
  }

  .editor-container {
    border: 2px solid black;
    border-radius: 10px 15px 15px 10px;

    .editor-content {
        margin: 0px 10px;
    }
  }

ul[data-type="taskList"] {
    list-style: none;
    padding: 0;

    li {
        display: flex;
        align-items: center;

        > label {
            
        flex: 0 0 auto;
        margin-right: 0.5rem;
        }
    }

    input[type="checkbox"] {
        cursor: pointer;
    }
}