.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height:98vh;
}

.right_side {
    display: flex;
    flex-direction: column;
    width: 100%;
    height:98vh;
}

.topBar {
    flex-shrink: 1;
}