.topbar{
    display: flex;
    height: 100px;
    width: 100%;
    border-bottom-color: #d2d7da;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    align-items: center;
    justify-content: flex-end;
}

.username {
    margin-right: 46px;
}