.logo {
    display: flex;
    align-items: center;
    padding-left: 33px;

    .icon {

    }

    .text {
        color: #104C43;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        margin-left: 10px;
    }
}

.paddingTop {
    padding-top: 38px;
}

.image {
    width: 39px;
    margin: 9px;
}

.separator {
    width: 2px;
    height: 35px;
    background: #104C43;
    margin: 0 9px;
    opacity: 10%;
}

.contributes {
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgb(255 255 255 / 15%);
    margin-left: 18px;
    opacity: 0.95;
}