.logo {
    display: flex;
    align-items: center;
    padding-left: 33px;

    .icon {

    }

    .text {
        color: #104C43;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        margin-left: 10px;
    }
}

.paddingTop {
    padding-top: 38px;
}

.image {
    width: 60px;
}

.separator {
    width: 2px;
    height: 35px;
    background: #104C43;
    margin: 0 9px;
    opacity: 10%;
}