.root {
    width: 100%;
    height: 100vh;
    background: #E5E5E5;

    .innerContent {
        display: flex;
        flex-direction: column;
        height: 100%;

        .titleSection {
            padding: 47px 86px 32px 86px;
            display: flex;
            justify-content: space-between;

            .title {
                color: #2C3D8F;
                font-size: 30px;
                font-weight: 300;
            }
        }

        .imageRoot {
            display: flex;
            align-items: center;
            margin: 9px;

            .actions {
                background: #58827b;
                color: #FFFFFF;
                margin-left: 9px;
            }
        
            .actions:hover {
                background: #9fb7b4;
                color: #FFFFFF;
                margin-left: 9px;
            }

            .actions:disabled {
                background: #cfdbd9;
                color: #FFFFFF;
                margin-left: 9px;
            }
        }

        .content {
            background: #FFFFFF;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
            border-radius: 12px;
            margin: 0px 86px 66px 86px;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 30px;

            .title {
                color: #2F3032;
                font-weight: 400;
                margin-bottom: 27px;
            }

            .action {
                background: #2C3D8F;
                color: #FFFFFF;
            }

            .description {
                color: #2F3032;
                font-weight: 300;
                margin-bottom: 46px;
            
                .note {
                    color: #b7c9c7;
                    font-weight: 300;
                    margin-bottom: 0px;
                }
            }

            .upload {
                display: flex;
                align-items: center;

                .select {
                    // text-transform: none;
                    width: fit-content;
                    background: #2C3D8F;
                    color: #FFFFFF;
                    margin-left: 9px;
                }

                .select:disabled {
                    // text-transform: none;
                    width: fit-content;
                    background: #cfdbd9;
                    color: #FFFFFF;
                    margin-left: 9px;
                }

                .delete {
                    // text-transform: none;
                    width: fit-content;
                    background: #285e56;
                    color: #FFFFFF;
                    margin-left: 9px;
                }

                .delete:disabled {
                    // text-transform: none;
                    width: fit-content;
                    color: #FFFFFF;
                    margin-left: 9px;
                    background: #cfdbd9;
                }

                .description {
                    color: #2F3032;
                    font-weight: 300;
                    margin-bottom: 0px;
                    
                    .note {
                        color: #b7c9c7;
                        font-weight: 300;
                        
                    }
                }
            }
        }
    }
}